aiosmtplib
alembic
annotated-types
anyio
bcrypt
blinker
certifi
cffi
click
cryptography
dnspython
ecdsa
email_validator
fastapi
fastapi-cli
fastapi-mail
greenlet
h11
httpcore
httptools
httpx
idna
Jinja2
Mako
markdown-it-py
MarkupSafe
mdurl
passlib
psycopg2-binary
pyasn1
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
python-dotenv
python-jose
python-multipart
PyYAML
rich
rich-toolkit
rsa
shellingham
six
sniffio
SQLAlchemy
starlette
typer
typing_extensions
uvicorn
uvloop
watchfiles
websockets
